/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-grey-500;
  }
  div {
    /* @apply text-base sm:text-sm; */
    @apply text-sm;
  }

  b, svg {
    @apply text-grey-700;
  }
}

@layer components {
  .windows-scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .windows-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .windows-scrollbar::-webkit-scrollbar-thumb {
    background: #E5E7EB;
  }
}
